*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.8;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       10px;
	height:      10px;
	line-height: 10px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background:#B2CCFF !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background:#B2CCFF;}
/* ACTIVE */

/* blog */
#s1:target ~ .bullets >*:nth-child(1) {background:#759eed;}
#s2:target ~ .bullets >*:nth-child(2) {background:#759eed;}
#s3:target ~ .bullets >*:nth-child(3) {background:#759eed;}
#s4:target ~ .bullets >*:nth-child(4) {background:#759eed;}
#s5:target ~ .bullets >*:nth-child(5) {background:#759eed;}
#s6:target ~ .bullets >*:nth-child(6) {background:#759eed;}
#s7:target ~ .bullets >*:nth-child(7) {background:#759eed;}
#s8:target ~ .bullets >*:nth-child(8) {background:#759eed;}
#s9:target ~ .bullets >*:nth-child(9) {background:#759eed;}
#s10:target ~ .bullets >*:nth-child(10) {background:#759eed;}
/* sakila */
#b1:target ~ .bullets >*:nth-child(1) {background:#759eed;}
#b2:target ~ .bullets >*:nth-child(2) {background:#759eed;}
#b3:target ~ .bullets >*:nth-child(3) {background:#759eed;}
#b4:target ~ .bullets >*:nth-child(4) {background:#759eed;}
#b5:target ~ .bullets >*:nth-child(5) {background:#759eed;}
#b6:target ~ .bullets >*:nth-child(6) {background:#759eed;}
#b7:target ~ .bullets >*:nth-child(7) {background:#759eed;}
#b8:target ~ .bullets >*:nth-child(8) {background:#759eed;}
#b9:target ~ .bullets >*:nth-child(9) {background:#759eed;}
#b10:target ~ .bullets >*:nth-child(10) {background:#759eed;}
/* cashbook */
#c21:target ~ .bullets >*:nth-child(1) {background:#759eed;}
#c22:target ~ .bullets >*:nth-child(2) {background:#759eed;}
#c23:target ~ .bullets >*:nth-child(3) {background:#759eed;}
#c24:target ~ .bullets >*:nth-child(4) {background:#759eed;}
#c25:target ~ .bullets >*:nth-child(5) {background:#759eed;}
#c26:target ~ .bullets >*:nth-child(6) {background:#759eed;}
#c27:target ~ .bullets >*:nth-child(7) {background:#759eed;}
#c28:target ~ .bullets >*:nth-child(8) {background:#759eed;}
#c29:target ~ .bullets >*:nth-child(9) {background:#759eed;}
#c30:target ~ .bullets >*:nth-child(10) {background:#759eed;}
/* computer shoppingmall */
#d1:target ~ .bullets >*:nth-child(1) {background:#759eed;}
#d2:target ~ .bullets >*:nth-child(2) {background:#759eed;}
#d3:target ~ .bullets >*:nth-child(3) {background:#759eed;}
#d4:target ~ .bullets >*:nth-child(4) {background:#759eed;}
#d5:target ~ .bullets >*:nth-child(5) {background:#759eed;}
#d6:target ~ .bullets >*:nth-child(6) {background:#759eed;}
#d7:target ~ .bullets >*:nth-child(7) {background:#759eed;}
#d8:target ~ .bullets >*:nth-child(8) {background:#759eed;}
#d9:target ~ .bullets >*:nth-child(9) {background:#759eed;}
#d10:target ~ .bullets >*:nth-child(10) {background:#759eed;}
/* lms */
#e1:target ~ .bullets >*:nth-child(1) {background:#759eed;}
#e2:target ~ .bullets >*:nth-child(2) {background:#759eed;}
#e3:target ~ .bullets >*:nth-child(3) {background:#759eed;}
#e4:target ~ .bullets >*:nth-child(4) {background:#759eed;}
#e5:target ~ .bullets >*:nth-child(5) {background:#759eed;}
#e6:target ~ .bullets >*:nth-child(6) {background:#759eed;}
#e7:target ~ .bullets >*:nth-child(7) {background:#759eed;}
#e8:target ~ .bullets >*:nth-child(8) {background:#759eed;}
#e9:target ~ .bullets >*:nth-child(9) {background:#759eed;}
#e10:target ~ .bullets >*:nth-child(10) {background:#759eed;}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}

/* ACTIVE: */
/* blog */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#s9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#s10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* sakila */
#b1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#b2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#b3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#b4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#b5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#b6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#b7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#b8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#b9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#b10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* cashbook */
#c1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#c2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#c3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#c4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#c5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#c6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#c7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#c8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#c9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#sc10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* computer shoppingmall */
#d1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#d2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#d3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#d4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#d5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#d6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#d7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#d8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#d9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#d10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* lms */
#e1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#e2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#e3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#e4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#e5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#e6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#e7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#e8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#e9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#e10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */
/* blog */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#s8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#s9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#s10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* sakila */
#b1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#b2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#b3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#b4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#b5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#b6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#b7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#b8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#b9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#b10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* cashbook */
#c1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#c2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#c3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#c4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#c5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#c6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#c7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#c8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#c9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#c10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* computer shoppingmall */
#d1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#d2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#d3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#d4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#d5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#d6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#d7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#d8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#d9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#d10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* lms */
#e1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#e2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#e3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#e4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#e5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#e6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#e7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#e8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#e9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#e10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}